h1{
    color: red;
}
#div2{
    font-style: italic;
    color: red;
    font-size: 24px;
}
ol{
    color: brown;
    line-height: 50px;
}
.line1{
    background-color: yellow;
    font-weight: 900;
}
.line{
    text-decoration-line: line-through;
    font-weight: 900;
}
.css{
    font-style: italic;
    text-decoration-line:underline;
    text-decoration-color: brown;
}
